<div class="container h-100">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">
    <form class="col-4 mt-5" action="/detail/{{ todo._id }}?_method=PUT" method="POST"
      onsubmit="return editCheckAgain()">
      <div class="hint d-flex mb-3">
        <div class="hint-head col-4">*必填欄位</div>
        <div class="hint-content col-6">請輸入你的支出</div>
      </div>
      <div class="name d-flex mb-3">
        <div class="title col-4">名稱*：</div>
        <input required autofocus type="text" name="name" class="form-control input-area" value="{{todo.name}}">
      </div>
      <div class="date d-flex mb-3">
        <div class="title col-4">日期*：</div>
        <input required type="date" placeholder="" name="date" class="form-control input-area" value="{{todo.date}}">
      </div>
      <div class="category d-flex mb-3">
        <div class="title col-4">類別*：</div>
        <select required name="category" id="inputState" class="form-control selector">
          <option class='selector' {{#ifcond todo.category "===" "家居物業"}} selected {{/ifcond}} value="家居物業">家居物業
          </option>
          <option class='selector' {{#ifcond todo.category "===" "交通出行"}} selected {{/ifcond}} value="交通出行">交通出行
          </option>
          <option class="selector" {{#ifcond todo.category "===" "休閒娛樂"}} selected {{/ifcond}} value="休閒娛樂">休閒娛樂
          </option>
          <option class="selector" {{#ifcond todo.category "===" "餐飲食品"}} selected {{/ifcond}} value="餐飲食品">餐飲食品
          </option>
          <option class='selector' {{#ifcond todo.category "===" "其他"}} selected {{/ifcond}} value="其他">其他</option>
        </select>
      </div>
      <div class="name d-flex mb-3">
        <div class="title col-4">商家：</div>
        <input type="text" name="merchant" class="form-control input-area" value="{{todo.merchant}}">
      </div>
      <div class="money d-flex mb-3">
        <div class="title col-4">金額*：</div>
        <input required type="number" placeholder="" name="amount" class="form-control input-area"
          value="{{todo.amount}}">
      </div>
      <button type="submit" class="btn btn-outline-danger mt-3 mb-5">送出</button>
    </form>
  </div>
</div>