<!-- search bar -->
<div class="container d-flex flex-column align-items-center p-3">
  <div class="dropdown form-group col-6 p-1">
    <select onchange="location = this.value;" name="sorting" id="inputState" class="form-control selector">
      <option class='selector-title selector' value="/filter/all">全部種類</option>

      {{#each categories}}
      <option class='selector' value="/filter/{{this.category}}" {{#ifcond ../category "===" this.category}} selected {{/ifcond}}>{{this.category}}</option>
      {{/each}}

    </select>
  </div>

  <div class="totalamount d-flex justify-content-between col-6 p-1">
    <div>總金額：</div>
    <h1 class="text-warning pt-2 pr-2">{{sum}}</h1>
  </div>

  {{#each todolists}}
  <div class="costlist col-12 p-1 d-flex">
    <div class="col-3"></div>
    <div class="detail col-6 d-flex align-items-center justify-content-between">
      <div class="info d-flex align-items-center">
        <div class="icon text-center" style='width:50px;height:auto;'>
          {{#each ../categories}}
          {{#ifcond ../this.category "===" this.category}}<i class="{{this.icon}}"></i>{{/ifcond}}
          {{/each}}
        </div>
        <div class="name-date">
          <div class="name">{{this.name}}</div>
          <div class="date">{{this.date}}</div>
        </div>
      </div>
      <div class="price h5 pr-3 align-middle">{{this.amount}}</div>
    </div>
    <div class="col-2 d-flex align-items-center justify-content-end">
      <a href="/detail/{{this._id}}/edit" class="modify-btn p-2" style="min-width: 50px;">修改</a>
      <form action="/detail/{{ this._id }}?_method=DELETE" method="POST" style="min-width: 50px;"
        onsubmit="return deleteCheckAgain()" class="btn-form p-2">
        <button type="submit" class="btn btn-link modify-btn" style="border: none; background: transparent;">刪除</button>
      </form>
    </div>
  </div>
  {{/each}}

  <form method="get" action="/detail/new">
    <button class="btn btn-danger m-4" type="submit">新增支出</button>
  </form>
</div>
